<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Travel Log!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Destination Information: </h1>

    <h2>@Model.CityName</h2>
    <h4>@Model.Duration</h4>
    <h4>@Model.Accomp</h4>
    <h4>@Model.Journal</h4>

    <a href='/places/new'>Add another Travel Destination</a>
    <a href='/places'>View all Travel Log Inputs</a>
  </body>
</html>